body{
    background-color: rgb(195, 231, 235);
    margin: 0;
    font-size: 150%;
    text-align: center;
}

.top-cloud{
    display: inline-block;
    position: relative;
    left: 200px;
    top: 10px;

}
.bottom-cloud {
    display: inline-block;
    position: relative;
    right: 200px;
}
.student{
    font-family: 'Raleway', sans-serif;
    font-size:2.5rem ;
    color: #66bfbf;
    
}
.sayan{
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    color: #66bfbf;
    margin: 50px auto 0 auto;
}
.skill-color{
    color: #11999e;
    text-align: center;
    margin: 0 auto 25px auto;
}
.hello{
    color: #11999e;
}
.get-in-touch{
    color: #11999e;
}
.footer-link{
    color: #11999e;
    font-family: 'Baloo 2', cursive;
}
.mail{
    color: #11999e;
    
            -webkit-border-radius: 28;
            -moz-border-radius: 28;
            border-radius: 28px;
            font-family: Arial;
            color: #102d45;
            font-size: 28px;
            background: #df9de3;
            padding: 10px 20px 10px 20px;
            text-decoration: none;
    
}
.mail:hover{
    background: #7ed9e0;
        text-decoration: none;
}
.h3{
    color: #11999e;

}
.skills{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    font-family: 'Russo One', sans-serif;
}
.skill{
    width: 25%;
    float: left;
    margin-right: 20px;
    font-family: 'Russo One', sans-serif;
    
}
.bottom-container{
    background-color: #66BFBF;
    margin: 50px 0 20px;
   
}
.last-text{
    text-emphasis-color: #EAF6F6;
}
.contact-me{
    margin-bottom: 50px;
}
a{
    text-decoration: none;
}
p{
    font-family: 'Lobster', cursive;
    
}
.last-text{
    color: #EAF6F6;
    font-size: smaller;
    padding: 10px 0 20px 0;
}
.get-in-touch{
    font-family: 'Russo One', sans-serif;
}
.h3{
    font-family: 'Russo One', sans-serif;
   
}
.hello{
    font-family: 'Russo One', sans-serif;
}
.footer-link:hover{
color: #EAF6F6;
} 
